uvloop==0.19.0
tgcrypto
pyrogram==1.4.16
pyrofork==1.2.0
megasdkrest
aiohttp[speedups]
aiofiles
aioshutil
anytree==2.8.0
apscheduler
aria2p
beautifulsoup4
cachetools
cloudscraper
cryptography
dnspython
feedparser
flask
gunicorn
httpx
jinja2
langcodes
lxml
motor
mutagen
natsort
pillow
psutil
pymongo
python-dotenv
python-magic
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
uv
xattr
yt-dlp[default,curl-cffi]
pytz
